.idea
*.iml
**/windows-11/shared/*.exe
**/windows-11/shared/*.msi
**/workspaces-*/*.tar.gz
**/inlong-*/*.tar.gz
**/desktop-*/*.tgz
**/windows-11/*.iso
**/windows-11/os-store/
**/windows-11/shared/sync_project/